.links,
.rechts {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.links {
    background-color: black;
    color: white;
}

.rechts {
    background-color: yellow;
}
